/* Apply styles to the body */
body {
    font-family: Arial, sans-serif; /* Use Arial font for better readability */
    color: #333; /* Dark gray text */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Apply styles to the header */
header {
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
}

/* Apply styles to the title */
header h1 {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Increase font size */
}

/* Apply styles to the main content */
main {
    padding: 20px;
}

/* Apply styles to the section */
section {
    margin-bottom: 20px;
}

/* Apply styles to the section description */
.description {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

/* Apply styles to the section action */
.action {
    text-align: center;
}

/* Apply styles to the button */
button {
    background-color: #007bff; /* Blue button */
    color: #fff; /* White text */
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.3s; /* Smooth transition effect */
}

/* Change button color on hover */
button:hover {
    background-color: #0056b3; /* Darker blue */
}

/* Apply styles to the footer */
footer {
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
}

/* Apply styles to the settings menu */
.settings-tab {
    position: fixed;
    top: 10px;
    right: 10px;
}

#settingsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hidden {
    display: none;
}

#settingsMenu h2 {
    margin-bottom: 10px;
}

#settingsMenu label {
    margin-bottom: 5px;
}

#settingsMenu input[type="number"] {
    width: 100px;
    margin-bottom: 10px;
}

#settingsMenu select {
    width: 120px;
    margin-bottom: 10px;
}

/* Apply styles for light mode */
.light-mode {
    background-color: #f5f5f5;
    color: #333;
}

/* Apply styles for dark mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}
